var SFTPUpload = require('sftp-upload');
var fs = require('fs');

sftp = new SFTPUpload({
    host:'domain.com',
    port: 22,
    username:'user',
    path: './deploy',
    remoteDir: '/domain-directory',
    privateKey: fs.readFileSync('/Users/username/.ssh/key.file')
}),

sftp
    .on('error', function(err) {
        throw err;
    })
    .on('uploading', function(data) {
        console.log('Uploading:', data.file);
        console.log('Progress :', data.percent + '%');
    })
    .on('completed', function() {
        console.log("\nUpload Completed\n");
    })
    .upload();
